@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* .before-style {
  transition: all 0.5s ease;
}

.before-style::before {
  content: "home";
  position: absolute;
  width: 0;
  overflow: hidden;
  color: transparent;
  left: 0;
  font-size: 16px;
  background-color: transparent;
  z-index: 10;
  border-radius: 30px 0px 0px 30px;
  padding: 8px 20px;
  transition: all 0.5s ease;
}
.before-style:hover::before {
  width: auto;
  left: -155%;
  color: white;

  background-color: red;
} */

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #0b1120;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #719fc3d0;
}
